NodeRedFlow.json
[{"id":"9c82521f.a4ee3","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"5fe3ae89.61faf","type":"inject","z":"9c82521f.a4ee3","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":120,"wires":[["15b7d612.77da1a"]]},{"id":"6c54526e.a19a4c","type":"ui_form","z":"9c82521f.a4ee3","name":"","label":"","group":"87e53103.cbde","order":7,"width":0,"height":0,"options":[{"label":"Enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":240,"wires":[["ee09d215.443be"]]},{"id":"ee09d215.443be","type":"function","z":"9c82521f.a4ee3","name":"input parsing","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["15b7d612.77da1a","2b4f2201.c532ae"]]},{"id":"15b7d612.77da1a","type":"watson-conversation-v1","z":"9c82521f.a4ee3","name":"Customer","workspaceid":"c577b6a8-fd54-4e9e-b9c0-7d6f9c8f8aa3","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":520,"y":240,"wires":[["e957b008.b502b"]]},{"id":"e957b008.b502b","type":"function","z":"9c82521f.a4ee3","name":"output parsing","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":240,"wires":[["49519634.dd9c18","949d59da.f17368","4a413441.0c074c"]]},{"id":"2b4f2201.c532ae","type":"ui_text","z":"9c82521f.a4ee3","group":"87e53103.cbde","order":8,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":380,"wires":[]},{"id":"949d59da.f17368","type":"ui_text","z":"9c82521f.a4ee3","group":"87e53103.cbde","order":9,"width":"18","height":"4","name":"","label":"Chatbot","format":"{{msg.payload}}","layout":"col-center","x":820,"y":380,"wires":[]},{"id":"49519634.dd9c18","type":"debug","z":"9c82521f.a4ee3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":100,"wires":[]},{"id":"4a413441.0c074c","type":"ui_audio","z":"9c82521f.a4ee3","name":"","group":"87e53103.cbde","voice":"en-GB","always":"","x":920,"y":240,"wires":[]},{"id":"87e53103.cbde","type":"ui_group","z":"","name":"Intelligent Chatbot","tab":"98ca6b5f.350e18","order":1,"disp":true,"width":18,"collapse":false},{"id":"98ca6b5f.350e18","type":"ui_tab","z":"","name":"Dell Inspiron","icon":"dashboard","disabled":false,"hidden":false}]